.payment {
  flex: 1;
  .heading {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  %card {
    border: 1px solid #484848;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    padding: 20px;

    @media (min-width: 768px) {
      padding: 32px;
    }

    &:hover {
      .checkmark {
        border: 3px solid #7c72e8;
      }
    }
  }

  .selected {
    border-color: #7c72e8;

    .radioSection {
      .checkmark {
        border: 3px solid #7c72e8;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #7c72e8;
        }
      }
    }
  }

  .radioSection {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 22px;

    .checkmark {
      position: absolute;
      top: 20px;
      left: 20px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 3px solid #e5e5e5;
      transition: all 0.2s ease-out;

      @media (min-width: 768px) {
        top: 32px;
        left: 32px;
      }
    }

    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #484848;
      margin-left: 32px;
    }
  }

  .cards {
    @extend %card;
    margin-bottom: 18px;

    .expiryCvv {
      display: flex;
      gap: 54px;
      width: 100%;
      margin-top: 20px;
    }

    .input {
      border: 1px solid #b8b7b7;
      border-radius: 20px;
      padding: 10px 32px;
      width: 100%;

      &:focus {
        outline-color: #7c72e8;
      }
    }
  }

  .digital {
    @extend %card;
    .chipContainer {
      display: flex;
      justify-content: space-between;
      gap: 16px 24px;
      flex-wrap: wrap;
    }
  }
}
